<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <title>八音盒</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="cleartype" content="on">
    <meta name="StaticURL" content="http://cdn.story.wedfairy.com/assets/">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://cdn.static.wedfairy.com/images/touch/touch-icon-red-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://cdn.static.wedfairy.com/images/touch/touch-icon-red-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://cdn.static.wedfairy.com/images/touch/touch-icon-red-72.png">
    <link rel="apple-touch-icon-precomposed" href="http://cdn.static.wedfairy.com/images/touch/touch-icon-red-57.png">
    <link rel="shortcut icon" sizes="196x196" href="http://cdn.static.wedfairy.com/images/logo-transparent-196.png">
    <link rel="shortcut icon" href="http://cdn.static.wedfairy.com/images/logo-transparent-128.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="http://cdn.static.wedfairy.com/images/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">

    <link rel="stylesheet" href="http://cdn.story.wedfairy.com/assets/stylesheets/bootstrap-custom.css">
    <link rel="stylesheet" href="http://cdn.static.wedfairy.com/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="http://cdn.story.wedfairy.com/assets/stylesheets/error.css">
    <script src="http://cdn.static.wedfairy.com/javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>

<div class="waves">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="whale"></div>
    <div class="wave"></div>
    <div class="wave"></div>
</div>
<header class="container-fluid text-center">
    <h1>小盒子迷路啦</h1>
    <h4>不如还是游回首页去吧</h4>
    <a class="btn btn-primary" href="http://www.wedfairy.com">八音盒首页</a>
</header>
<footer class="footer text-center">
    <div class="social-icons">
        <a href="http://mp.weixin.qq.com/s?__biz=MzA5ODM0OTM5Mg==&mid=209005186&idx=1&sn=e9c3d663cec343fcf098a927c5d32354#rd" target="_blank">
            <i class="fa fa-wechat"></i>
        </a>
        <a href="http://weibo.com/u/5224024448/" target="_blank" class="hidden-xs">
            <i class="fa fa-weibo"></i>
        </a>
        <a href="http://m.weibo.cn/u/5224024448/" target="_blank" class="visible-xs-inline-block">
            <i class="fa fa-weibo"></i>
        </a>
    </div>
    <p class="copyright">© 八音盒 2015</p>
</footer>

</body>
</html>
