::-webkit-scrollbar {
  display: none; }

input[type="date"], select {
  -webkit-appearance: none;
  background-color: transparent !important; }

.appHeader, .map-header {
  width: 100%;
  height: 190px;
  padding-top: 23px;
  background-repeat: no-repeat;
  background-position: center bottom; }

.appHeaderLink, .map-header a {
  display: block;
  width: 22px;
  height: 22px; }

.appHeaderLinkIcon, .map-header a i {
  font-size: 22px;
  color: #fff; }

.appBody, .map-body, .map-show-body {
  width: 100%;
  height: auto;
  padding: 0;
  text-align: center;
  font-size: 15px;
  line-height: 20px; }

.appSubmitButton, .map-submit {
  width: 84%;
  height: 52.8px;
  margin-top: 45.12px;
  margin-bottom: 36px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 2px; }

.appInput, #map-location, #map-address, #map-message, .map-mark-submit {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #fff; }

.appLabel {
  font-weight: normal; }

.highlight {
  color: #ff607d !important;
  font-weight: bold !important; }

.clear {
  clear: both; }

.map-header {
  background-color: #d667cd;
  background-image: url(../images/map_header.jpg);
  background-size: 77.07%; }

.map-body {
  background-color: #f4f4f4;
  color: #7b7b7d; }

.map-submit {
  background-color: #ff3366; }

#map-location {
  width: 94.93%;
  height: 72.00px;
  margin-top: 55.20px;
  padding: 5.07%; }

#map-address {
  width: 94.93%;
  height: 72.00px;
  margin-top: 28.32px;
  padding: 5.07%; }

.map-use {
  width: 100%;
  height: 55.68px;
  margin-top: 52.32px;
  border: none;
  outline: none;
  background-color: #3e82f7;
  color: #fff; }
  .map-use i {
    font-size: 20px; }

.map-img {
  width: 100%;
  height: auto; }

.map-marker {
  width: 40px;
  height: 40px;
  margin-top: -40px;
  margin-left: -20px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: none; }

#map-message {
  width: 94.93%;
  height: 260.08px;
  margin-top: 51.84px;
  padding: 5.07%; }

.map-show-body {
  color: #353535; }

.map-show-location {
  width: 66.67%;
  height: auto;
  margin: 98.40px auto 0; }

.map-show-flower {
  width: 21.73%;
  height: auto;
  margin-top: 16.80px; }

.map-show-address {
  width: 66.67%;
  height: auto;
  margin: 31.68px auto 0; }

.map-show-route {
  width: 44.00%;
  height: 43.68px;
  margin-top: 57.60px;
  background-color: #3e82f7;
  color: #fff;
  border: 1px solid #2567da;
  border-radius: 21.84px;
  outline: none; }

#baidu-map {
  width: 95.73%;
  margin: 23.52px auto 0;
  overflow: hidden; }

.map-show-how-come {
  width: 26.67%;
  height: auto;
  margin-top: 54.72px; }

.map-show-message {
  width: 78.13%;
  height: auto;
  margin: 16.32px auto 158.40px;
  padding-top: 31.20px;
  border-top: 1px solid #c4c4c4;
  text-align: left; }

.map-mark-header {
  width: 100%;
  height: 44px;
  border: 1px solid #a3a3a3;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  color: #826c61; }
  .map-mark-header a {
    display: block;
    width: 44px;
    height: 44px;
    position: absolute; }
    .map-mark-header a i {
      font-size: 22px;
      line-height: 30px;
      color: #826c61; }

#baidu-map-mark {
  width: 100%;
  margin: 0;
  overflow: hidden; }

.map-mark-marker {
  width: 40px;
  height: 40px;
  margin-top: -40px;
  margin-left: -20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1; }

.map-mark-footer {
  width: 100%;
  height: 44px;
  border: 1px solid #a3a3a3;
  font-size: 15px;
  text-align: center;
  color: #555; }

.map-mark-submit {
  margin-top: 8.5px;
  background-color: #fff; }

/*# sourceMappingURL=map.css.map */
